/assets/cache/
/__pycache__/
ui/__pycache__/
utils/__pycache__/
/.vs/
/.vscode/
config/settings.yml
/build/
config/keymap.yml
/dll/Image_Processor/x64/
/dll/Image_Processor/.vs/
/dll/Image_Processor/Image_Processor/
.claude/
CLAUDE.md
